.video-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  min-height: 100vh;
  margin-left: 30%;
}

.react-player-wrapper {
  width: 100%;
  max-width: 900px;
  height: 1000px;
  margin-bottom: 20px;
  background-color: #000;
  padding-top: 6.25%;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.video-page h1 {
  font-size: 2.5rem;
  color: #333;
  margin: 10px 0;
  text-align: left;
}

.video-page h2 {
  font-size: 1.5rem;
  color: #555;
  margin: 5px 0;
  text-align: left;
}

.video-page h3 {
  font-size: 1rem;
  color: #777;
  margin: 10px 0;
  text-align: left;
  max-width: 800px;
  line-height: 1.6;
  padding: 0 15px;
}